<h1>Holdings</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Symbol</th>
      <th scope="col">User</th>
      <th scope="col">Cost per Unit ($) </th>
      <th scope="col">Amount Owned</th>
      <th scope="col">Value</th>
      <th scope="col">Actions Available</th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each_with_index do |holding, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= holding.symbol %></td>
        <td><%= holding.user_id %></td>
        <td><%= holding.cost_per %></td>
        <td><%= holding.amount_owned %></td>
        <td>$<%= holding.amount_owned * holding.cost_per %></td>
        <td><%= link_to 'Show', holding %> |
        <%= link_to 'Edit', edit_holding_path(holding) %> |
        <%= link_to 'Destroy', holding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<u><b><%= link_to 'New Holding', new_holding_path %></b></u>
